langchain
faiss-cpu
sentence-transformers
requests
python-dotenv
unstructured
playwright
pymongo
gunicorn
langchain-community
python-docx
langchain-huggingface
fastapi
uvicorn
selenium
webdriver-manager
pinecone-client 
pydantic
PyPDF2   
python-multipart



